Repository 4darsh-Dev/CogniGaurd, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, bug, enhancement, dependencies, tests, ci, security, config, core, help wanted

fixed jwt token error
  cognigaurd-web-extension/popup.js
  django-web-app/cogniguard/settings.py
  django-web-app/cogniguard/urls.py
  django-web-app/home/migrations/0006_apikey_delete_visitor.py
  django-web-app/home/migrations/0007_delete_visitor.py
  django-web-app/home/models.py
  django-web-app/static/js/dashboard.js
  django-web-app/templates/dashboard.html
Labels: help wanted

Resolving issue Changing color of web scroll bar #136 and Adding logo instead of big text #134
  django-web-app/static/css/responsive.css
  django-web-app/static/css/style.css
  django-web-app/static/js/app.js
  django-web-app/static/js/privacy_policy.js
  django-web-app/static/js/script.js
  django-web-app/static/js/terms_of_use.js
  django-web-app/templates/base.html
Labels: help wanted

fixed callback issue
  django-web-app/static/css/dashboard.css
  django-web-app/static/js/dashboard.js
Labels: help wanted

added token list view
  django-web-app/templates/dashboard.html
Labels: help wanted

debug mode fixed
  django-web-app/cogniguard/settings.py
  django-web-app/cogniguard/urls.py
Labels: help wanted

Update issue-labeler.yml
  .github/issue-labeler.yml
Labels: help wanted

Modify Home Page
  django-web-app/static/css/style.css
Labels: help wanted

Update style.css
  django-web-app/static/css/style.css
Labels: help wanted

Update style.css
  django-web-app/static/css/style.css
Labels: help wanted

Issues resolved #136, #138,#134
  README.md
  django-web-app/static/css/style.css
  django-web-app/templates/base.html
Labels: documentation, help wanted

Update privacy_policy.js
  django-web-app/static/js/privacy_policy.js
Labels: help wanted

Update script.js
  django-web-app/static/js/script.js
Labels: help wanted

Update terms_of_use.js
  django-web-app/static/js/terms_of_use.js
Labels: help wanted

Update style.css
  django-web-app/static/css/style.css
Labels: help wanted

Update style.css
  django-web-app/static/css/style.css
Labels: help wanted

Update base.html
  django-web-app/templates/base.html
Labels: help wanted

Update style.css
  django-web-app/static/css/style.css
Labels: help wanted

added margin to the report form
  django-web-app/static/css/report.css
Labels: help wanted

Added preloader for improved user experience
  django-web-app/static/css/style.css
  django-web-app/static/js/script.js
  django-web-app/templates/index.html
Labels: help wanted

style: Add fixed position to preloader for improved user experience
  django-web-app/static/css/style.css
Labels: help wanted

Update README.md
  README.md
Labels: documentation, help wanted

fixed ui issues
  django-web-app/cogniguard/settings.py
  django-web-app/static/css/responsive.css
  django-web-app/static/css/style.css
  django-web-app/static/js/script.js
  django-web-app/templates/base.html
  django-web-app/templates/index.html
Labels: help wanted

fixed debug mode
  django-web-app/cogniguard/settings.py
Labels: help wanted

Update README.md
  README.md
Labels: documentation, help wanted

Delete django-mlapi-backend/mlApi/bert_darkp_kaggle.ipynb
  django-mlapi-backend/mlApi/bert_darkp_kaggle.ipynb
Labels: help wanted

Fixed the types of dark page content going out of screen
  django-web-app/static/css/know_about_dp.css
Labels: help wanted

Fixed footer alignemnt for all screen sizes
  django-web-app/static/css/style.css
  django-web-app/templates/base.html
Labels: help wanted

fixed the home page overlapping in small screen
  django-web-app/static/css/style.css
Labels: help wanted

Added the feature of see faq answer on hover
  django-web-app/static/css/faqs.css
Labels: help wanted

Fixed transition to smooth
  django-web-app/static/css/faqs.css
Labels: help wanted

deleted the dropdown 2nd icon
  django-web-app/templates/base.html
Labels: help wanted

reminder_mess updated
  .github/workflows/comment_on_issues.yml
Labels: ci, help wanted

Fixed FAQ secion for mobile screen
  django-web-app/static/css/faqs.css
Labels: help wanted

Updated testimonial cards in index.html
  django-web-app/templates/index.html
Labels: help wanted

Added scroll indicator
  django-web-app/static/css/style.css
  django-web-app/templates/base.html
Labels: help wanted

Update index.html
  django-web-app/templates/index.html
Labels: help wanted

Create comment_all_issues_pr.yml
  .github/workflows/comment_all_issues_pr.yml
Labels: ci, help wanted

.github/labeler.yml:

# Add 'documentation' label to any changes in documentation files
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'bug' label to any bug fix
bug:
  - '**/*bug*'
  - '**/*fix*'

# Add 'enhancement' label to any feature or improvement
enhancement:
  - '**/*feature*'
  - '**/*improve*'
  - '**/*enhance*'

# Add 'dependencies' label to any changes in dependency files
dependencies:
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - '**/requirements.txt'
  - '**/Gemfile'
  - '**/Gemfile.lock'

# Add 'tests' label to any changes in test files
tests:
  - 'tests/**/*'
  - '**/*test*'
  - '**/*spec*'

# Add 'ci' label to any changes in CI configuration files
ci:
  - '.github/workflows/*'
  - '.travis.yml'
  - '.circleci/*'

# Add 'security' label to any changes in security-related files
security:
  - 'SECURITY.md'
  - '**/security/**/*'

# Add 'config' label to any changes in configuration files
config:
  - '**/*.config.js'
  - '**/*.json'
  - '.eslintrc*'
  - '.prettier*'
  - '.editorconfig'

# Add 'core' label to any changes in the src or lib directories
core:
  - 'src/**/*'
  - 'lib/**/*'

# Add 'help wanted' label to any issue or PR
'help wanted':
  - '**/*'
