Repository 4darsh-Dev/CogniGaurd, pull requests merged in 2024-08, with the labels that each got.

#167 fixed the home page overlapping in small screen
  django-web-app/static/css/style.css
Labels: help wanted, gssoc, size/XS

#172 deleted the dropdown 2nd icon
  django-web-app/templates/base.html
Labels: help wanted, good first issue, gssoc, size/XS

#175 Fixed FAQ secion for mobile screen
  django-web-app/static/css/faqs.css
Labels: help wanted, gssoc, size/XS

#177 Added scroll indicator
  django-web-app/static/css/style.css
  django-web-app/templates/base.html
Labels: help wanted, size/L

#176 Updated testimonial cards in index.html
  django-web-app/templates/index.html
Labels: help wanted, gssoc, level1, size/S
