Repository 4darsh-Dev/CogniGaurd, pull requests merged in 2024-06, with the labels that each got.

#31 Created Learn.md
  Learn.md
Labels: gssoc, level1

#37 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: gssoc, level1

#38 Create pull-request.md
  .github/pull-request.md
Labels: gssoc, level1

#44 added visit counter
  django-web-app/cogniguard/settings.py
  django-web-app/home/admin.py
  django-web-app/home/context_processors.py
  django-web-app/home/middleware.py
  django-web-app/home/migrations/0004_visitor.py
  django-web-app/home/models.py
  django-web-app/static/css/style.css
  django-web-app/templates/base.html
  django-web-app/templates/visitors.html
Labels: gssoc, level2

#45 updated nav bar!! #40
  django-web-app/static/css/style.css
  django-web-app/templates/base.html
Labels: gssoc, level1

#61 Update README.md
  README.md
Labels: gssoc, level1

#64 font added
  django-web-app/static/css/style.css
Labels: gssoc

#85 updated navbar responsive , welcome page responsive #84
  django-web-app/static/css/responsive.css
  django-web-app/static/css/style.css
  django-web-app/static/img/tablogo.png
  django-web-app/templates/base.html
  django-web-app/templates/index.html
Labels: gssoc, level3

#94 #76: Hover effects modified
  django-web-app/static/css/style.css
Labels: gssoc, level1, size/S

#106 responsiveness
  django-web-app/cogniguard/settings.py
  django-web-app/home/urls.py
  django-web-app/home/views.py
  django-web-app/static/css/about.css
  django-web-app/static/css/detected_dp.css
  django-web-app/static/css/faqs.css
  django-web-app/static/css/report.css
  django-web-app/templates/about.html
  django-web-app/templates/base.html
  django-web-app/templates/dashboard.html
  django-web-app/templates/faqs.html
  django-web-app/templates/index.html
  django-web-app/templates/login.html
  django-web-app/templates/register.html
  django-web-app/templates/report.html
Labels: gssoc, level3, size/L

#112 Improved the css of Login and Register Page
  django-web-app/static/css/login.css
  django-web-app/static/css/register.css
  django-web-app/static/img/login.webp
  django-web-app/static/img/register.webp
  django-web-app/templates/login.html
  django-web-app/templates/register.html
Labels: VSoC'24, size/XL, HARD

#120 feat: 404 notfound page added
  django-web-app/static/img/404.png
  django-web-app/templates/custom_404.html
Labels: size/S

#114 Home UI enhancement
  django-web-app/static/css/style.css
  django-web-app/templates/home/home.css
  django-web-app/templates/home/home.html
  django-web-app/templates/home/home.js
  django-web-app/templates/home/images/homeimg.png
  django-web-app/templates/index.html
  node_modules/.package-lock.json
  package-lock.json
  package.json
Labels: size/L
