Repository 4darsh-Dev/CogniGaurd, pull requests merged in 2024-07, with the labels that each got.

#124 New UI for Web APP
  django-web-app/api/predict_darkp.py
  django-web-app/api/views.py
  django-web-app/cogniguard/settings.py
  django-web-app/cogniguard/urls.py
  django-web-app/static/css/about.css
  django-web-app/static/css/detected_dp.css
  django-web-app/static/css/know_about_dp.css
  django-web-app/static/css/report.css
  django-web-app/static/css/responsive.css
  django-web-app/static/css/style.css
  django-web-app/static/img/brain-waves-img.png
  django-web-app/static/img/favicon.ico
  django-web-app/static/img/flexibility-img.png
  django-web-app/static/img/footer-left-img.svg
  django-web-app/static/img/footer-right-img.svg
  django-web-app/static/img/sample-profile.png
  django-web-app/static/js/script.js
  django-web-app/templates/base.html
  django-web-app/templates/index.html
Labels: size/XXL

#125 Added New Pages
  django-web-app/cogniguard/settings.py
  django-web-app/home/urls.py
  django-web-app/home/views.py
  django-web-app/static/css/login.css
  django-web-app/static/css/privacy_policy.css
  django-web-app/static/css/register.css
  django-web-app/static/css/responsive.css
  django-web-app/static/css/style.css
  django-web-app/static/css/terms_of_use.css
  django-web-app/static/js/app.js
  django-web-app/static/js/privacy_policy.js
  django-web-app/static/js/script.js
  django-web-app/static/js/terms_of_use.js
  django-web-app/templates/base.html
  django-web-app/templates/index.html
  django-web-app/templates/login.html
  django-web-app/templates/privacy_policy.html
  django-web-app/templates/register.html
  django-web-app/templates/terms_of_use.html
Labels: size/XL

#131 added website ss
  README.md
Labels: size/XS

#141 Removed Bullet Points
  django-web-app/static/css/style.css
Labels: help wanted, gssoc, level1, size/XS

#142 Made Changes in Dark Patterns UI
  django-web-app/static/css/know_about_dp.css
Labels: help wanted, size/S

#146 Added JWT Token Authentication with django API
  cognigaurd-web-extension/content.js
  cognigaurd-web-extension/manifest.json
  cognigaurd-web-extension/popup.css
  cognigaurd-web-extension/popup.html
  cognigaurd-web-extension/popup.js
  django-web-app/.gitignore
  django-web-app/api/serializers.py
  django-web-app/api/tasks.py
  django-web-app/api/urls.py
  django-web-app/api/views.py
  django-web-app/cogniguard/__init__.py
  django-web-app/cogniguard/celery.py
  django-web-app/cogniguard/settings.py
  django-web-app/cogniguard/sitemap.py
  django-web-app/cogniguard/urls.py
  django-web-app/home/admin.py
  django-web-app/home/context_processors.py
  django-web-app/home/middleware.py
  django-web-app/home/models.py
  django-web-app/home/urls.py
  django-web-app/home/views.py
  django-web-app/requirements.txt
  django-web-app/static/css/dashboard.css
  django-web-app/static/css/detected_dp.css
  django-web-app/static/css/login.css
  django-web-app/static/css/password_reset.css
  django-web-app/static/css/password_reset_complete.css
  django-web-app/static/css/register.css
  django-web-app/static/css/style.css
  django-web-app/static/js/app.js
  django-web-app/static/js/dashboard.js
  django-web-app/static/js/detected_dp.js
  django-web-app/static/js/login.js
  django-web-app/static/js/register.js
  django-web-app/static/js/script.js
  django-web-app/static/sitemap.xml
  django-web-app/templates/base.html
  django-web-app/templates/dashboard.html
  django-web-app/templates/login.html
  django-web-app/templates/register.html
Labels: help wanted, size/XXL, dependencies, config

#148 Bug fixing DeepSource Analsyis
  django-web-app/cogniguard/settings.py
  django-web-app/cogniguard/urls.py
  django-web-app/static/css/dashboard.css
  django-web-app/static/js/dashboard.js
  django-web-app/templates/dashboard.html
Labels: help wanted, size/L

#151 feat: Modify Home Page
  django-web-app/static/css/style.css
Labels: help wanted, level2, size/L

#153 Resolved issue #138,#137,#136,#135,#134
  README.md
  django-web-app/static/css/responsive.css
  django-web-app/static/css/style.css
  django-web-app/static/js/app.js
  django-web-app/static/js/privacy_policy.js
  django-web-app/static/js/script.js
  django-web-app/static/js/terms_of_use.js
  django-web-app/templates/base.html
Labels: documentation, help wanted, gssoc, level3, size/L

#158 added preloader for improved user experience
  django-web-app/static/css/style.css
  django-web-app/static/js/script.js
  django-web-app/templates/index.html
Labels: help wanted, gssoc, level1, size/L

#159 Fix : Open source section bug
  README.md
Labels: documentation, help wanted, gssoc, level1, size/M

#156 added margin to the report form
  django-web-app/static/css/report.css
Labels: help wanted, gssoc, size/XS, inactive

#165 Fixed the types of dark page content going out of screen
  django-web-app/static/css/know_about_dp.css
Labels: help wanted, gssoc, level1, size/L

#166 Fixed footer alignemnt for all screen sizes
  django-web-app/static/css/style.css
  django-web-app/templates/base.html
Labels: help wanted, gssoc, level1, size/L

#168 Added the feature of see faq answer on hover
  django-web-app/static/css/faqs.css
Labels: help wanted, gssoc, level1, size/S
